@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*global*/
	.container {
		width: 70%;
		margin: auto;
		overflow: hidden; 
		display: block;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.btn-submit {
		background-color: #e8491d;
		height: 38px;
		border: none;
		padding-left: 20px;
		padding-right: 20px;
		color: #fff;
	}



/*header*/
	header {
		background: #f7f7f7;
		color: #000;
		padding-top: 20px;
		min-height: 70px;
		border-bottom: #e8491D 3px solid;
		/*padding-bottom: 30px;*/
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	header a {
		color: #636363;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 13px;
	}

	nav ul li a .fa-search {
		color: #636363;
	}

	header li {
		float: left;
		display: inline;
		padding: 0 10px 0 10px;
	}

	header #branding {
		float: left;
	}

	header #branding h1 {
		margin: 0;
	}

	header nav {
		float: right;
		margin-top: 25px;
	}

	header nav .toggle,
	[id^=drop] {
		display: none;
	}

	header #branding a {
		color: #d8152c;
		font-weight: bold;
		font-size: 13px;
	}

	header #branding a:hover {
		text-decoration: none;
	}

	header .current a {
		color: #c64141;
		font-weight: bold;
	}

	header a:hover {
		color: #000;
		font-weight: bold;
		text-decoration: underline;
	}

	header img {
		width: 70px;
		padding-bottom: 20px;
	}


	/*nav bar*/
	.toggle-menu ul {
	  /*display: table;*/
	  width: 40px;
	}

	.toggle-menu ul li {
	  width: 100%;
	  height: 3px;
	  background-color: #002e5b;
	  margin-bottom: 4px;
	}

	.toggle-menu ul li:last-child { margin-bottom: 0px; }

	input[type=checkbox], header label { display: none; }






/*showcase*/
	#showcase {
		min-height: 650px;
		text-align: center;
		padding-top: 113px;
		/*top: 20px;*/
	}

	#showcase h1 {
		margin-top: 240px;
		font-size: 55px
		margin-bottom: 10px;
		color: #fff;
	}

	#showcase p {
		font-size: 20px;
		color: #fff;
	}

	#showcase .content-txt .btn-submit {
		border-radius: 5px;
		background-color: #c64141;
		padding: 10px 20px;
		height: 50px;
		margin-top: 10px;
	}

	#showcase .content-txt a {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 15px;
	}


/*newsletter*/
	#newsletter {
		padding: 15px;
		color: #fff;
		background: #35424A; 
	}

	#newsletter .newsletter-text {
		float: left;
	}

	.newsletter-text h1 {
		margin-bottom: -10px;
		font-size: 30px;
	}

	#newsletter form {
		float: right;
		margin-top: 40px;
	}

	#newsletter input[type="email"] {
		padding: 4px;
		height: 25px;
		width: 250px;
		display: inline;
	}

/*boxes*/
	#boxes {
		padding-top: 100px;
		/*margin: auto;*/
		padding-bottom: 100px;
		padding-left: 40px;
		background-color: #fff;
	}

	#boxes .box {
		float: left;
		width: 30%;
		padding: 10px;
		text-align: center;
		transition: .5s ease;
	  	backface-visibility: hidden;
	  	position: relative;
	  	box-shadow: 2px 4px 4px #e5e3e3;
	  	margin-bottom: 15px;
	  	margin-left: 10px;
	}

	#boxes .container h4 {
		/*margin: auto;*/
		/*text-align: center;*/
		color: #000;
		text-transform: uppercase;
	}

	#boxes .container h2 {
		color: #d8152c;
		text-transform: uppercase;
		margin-top: -20px;
	}

	#boxes .box .box-home {
		background-image: url('../media/house-edit.jpg');
		background-repeat: no-repeat;
		/*background-position: 0px -1000px;*/
		background-size: 100% 100%;
	    height: 350px;
	    color: #000;
	    opacity: 0;
	    transition: .5s ease;
	  	backface-visibility: hidden;
	}

	#boxes .box:hover .box-home{
	    opacity: 1;
	}

	#boxes .box:hover .content{
	    color: #000;
	}

	.box .content {
		transition: .5s ease;
	  	opacity: 1;
	  	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: left;
		color: #686868;
	}

	.box .content h3 {
		/*border-bottom: #000 solid 1px;*/
	}

	#boxes .box .box-home h3{
		padding-top: 100px;
		padding: 140px 15px 0px 15px;

	}
	#boxes .box .box-home p{
		padding-top: 100px;
		padding: 0px 15px 0px 15px;
	}

	#boxes .box .box-credit {
		background-image: url('../media/credit-edit.jpg');
		background-repeat: no-repeat;
		/*background-position: 0px -1000px;*/
		background-size: 100% 100%;
	    height: 350px;
	    opacity: 0;
	    transition: .5s ease;
	  	backface-visibility: hidden;
	}

	#boxes .box:hover .box-credit{
	    opacity: 1;
	}

	#boxes .box .box-credit h3{
		/*padding-top: 100px;*/
		padding: 110px 15px 0px 15px;
	}
	#boxes .box .box-credit p{
		/*padding-top: 100px;*/
		padding: 0px 15px 0px 15px;
	}

	#boxes .box .box-loan {
		background-image: url('../media/loan-edit.jpg');
		background-repeat: no-repeat;
		/*background-position: 0px -1000px;*/
		background-size: 100% 100%;
	    height: 350px;
	    opacity: 0;
	    transition: .5s ease;
	  	backface-visibility: hidden;
	}

	#boxes .box:hover .box-loan{
	    opacity: 1;
	}

	#boxes .box .box-loan h3{
		/*padding-top: 100px;*/
		padding: 110px 15px 0px 15px;
	}
	#boxes .box .box-loan p{
		/*padding-top: 100px;*/
		padding: 0px 15px 0px 15px;
	}


/*Video + testimonial*/
	/*video*/
	#video {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	#video iframe {
		float: left;
	}

	#video .bttn-contact,
	#calculator .bttn-contact {
		padding: 20px;
		border: 1px solid #c9c9c9;
		background-color: #fff;
		color: #000;
		/*margin-left: 25px;*/
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		font-weight: bold;
		--color: #a972cb;
	  	--hover: #35424A;
	  	border-radius: 5px;
	}
	#video .bttn-contact:hover,
	#calculator .bttn-contact:hover {
		background-color: #35424A;
		color: #fff;
	  	box-shadow: inset 0 0 0 2em var(--hover);

	}

	#video .bttn-contact:focus,
	#calculator .bttn-contact:focus {

	  	box-shadow: inset 0 0 0 2em var(--hover);

	}

	#video .bttn-contact a {
		text-decoration: none;
		color: #000;
	}

	#video .bttn-contact:hover a,
	#calculator .bttn-contact:hover a {
		color: #e8491d; 
	}

	#video button,
	#calculator button {
	  color: var(--color);
	  transition: 0.25s;
	}
	#video button:hover, 
	#video button:focus,
	#calculator button:hover, 
	#calculator button:focus, {
	  border-color: var(--hover);
	  color: #fff;
	}

	/*testimonial*/

	#testimonial {
		float: right;
		width: 55%;
	}

	#testimonial p {
		font-size: 20px;
		font-weight: bold;
		margin-top: -5px;
		border-left: 4px solid #e8491d;
	    padding-left: 20px;
	}

	#testimonial section p {
		font-weight: normal;
		font-size: 15px;
		border: none;
		padding: 10px;
	}
	.tabs {
		width: 100%;
	  	padding-top: 20px;
	  	margin: 0 auto;
	}

	.tabs section {
	  	display: none;
	  	padding: 20px 0 0;
	  	padding: 20px 5px 0 5px;
	}

	input {
	  display: none;
	}

	.tabs label {
		display: inline-block;
	    margin: 0 0 -1px;
	    padding: 15px;
	    min-width: 25%;
	    font-weight: 600;
	    text-align: center;
	    color: #8c8c8c;
	    background-color: #fff;
	    border: 1px solid transparent;
	}

	.tabs label:before {
	  font-family: fontawesome;
	  font-weight: normal;
	  margin-right: 10px;
	}

	.tabs label[for*='1']:before {
	  content: '\f200';
	}

	.tabs label[for*='2']:before {
	  content: '\f091';
	}

	.tabs label[for*='3']:before {
	  content: '\f041';
	}


	.tabs label:hover {
	  color: #000;
	  cursor: pointer;
	}

	.tabs input:checked + label {
	  color: #e8491d;
	  border: 1px solid #ddd;
	  border-top: 4px solid #e8491d;
	  border-bottom: 1px solid #fff;
	  background-color: #35424A;
	}

	#tab1:checked ~ #content1,
	#tab2:checked ~ #content2,
	#tab3:checked ~ #content3,
	#tab4:checked ~ #content4 {
	  display: block;
	}


	/*accordian*/
	.accordian-mobile {
		display: none;
	}
	.card-accordion {
	  position: relative;
	  overflow: hidden;
	  border: 1px solid #e6e6e6;
	  border-radius: 8px;
	  transition: 0.15s ease-in-out;
	  margin: 15px;
	  color: #000;
	  font-weight: bold;
	}
	.card-accordion:hover {
	  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
	}
	.card-accordion .card-accordion-checkbox {
	  position: absolute;
	  opacity: 0;
	  z-index: -1;
	}
	.card-accordion .card-accordion-label {
	  display: block;
	  padding: 20px;
	  position: relative;
	  cursor: pointer;
	  background-color: #35424A;
	  color: #e8491d;
	}


	.card-accordion .card-accordion-label::after {
	  content: "\f067";
	  font-family: FontAwesome;
	  font-size: 0.75rem;
	  position: absolute;
	  top: 25px;
	  right: 30px;
	  color: #e8491d;
	  transition: 0.15s ease-in-out;
	  transform-origin: center center;
	}
	.card-accordion .card-accordion-content {
	  max-height: 0;
	  opacity: 0;
	  overflow: hidden;
	  transition: 0.3s;
	}
	.card-accordion .card-accordion-content .card-accordion-content-inner {
	  padding: 40px 40px 10px 40px;
	}

	#testimonial .card-accordion .card-accordion-content .card-accordion-content-inner p{
	    color: #000;
	    border: none;
	    font-size: 15px;
	    font-weight: normal;
	}
	.card-accordion input:checked ~ .card-accordion-content {
	  max-height: 20em;
	  opacity: 1;
	}
	.card-accordion input:checked ~ .card-accordion-label::after {
	  transform: rotate(45deg);
	}




/*selling point*/
	#selling-point {
		/*display: inline-block;*/
		height: 150px;
		padding-top: 30px;
		padding-left: 160px;
	}

	#selling-point .point{
	  	width: 21%;
	    float: left;
	    /*margin: 2px;*/
	    padding: 20px;
	    text-align: center;
	}

	.point h4{
		float: right;
		margin-top: 0px;
	}

	.point .fas, .point .far {
		color: #d8152c;
	}


/*review cards*/
	#reviews {
		margin-top: 100px; 
		margin-bottom: 100px;
	}

	#reviews .container h4 {
		color: #000;
	    text-transform: uppercase;
	}

	#reviews .container h2 {
		color: #d8152c;
	    text-transform: uppercase;
	    margin-top: -20px;
	}

	.card-wrapper {
		padding-left: 0px;
	}

	.snip1336 {
	  	font-family: 'Roboto', Arial, sans-serif;
	    position: relative;
	    float: left;
	    overflow: hidden;
	    margin: 10px 1%;
	    width: 28%;
	    /* max-width: 27%; */
	    height: 400px;
	    /* width: 100%; */
	    color: #ffffff;
	    text-align: left;
	    line-height: 1.4em;
	    background-color: #141414;
	}
	.snip1336 * {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: all 0.25s ease;
	  transition: all 0.25s ease;
	}
	.snip1336 img {
	  max-width: 100%;
	  vertical-align: top;
	  opacity: 0.85;
	}
	.snip1336 figcaption {
	  width: 100%;
	  background-color: #141414;
	  padding: 25px;
	  position: relative;
	}
	.snip1336 figcaption:before {
	  position: absolute;
	  content: '';
	  bottom: 100%;
	  left: 0;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 55px 0 0 400px;
	  border-color: transparent transparent transparent #141414;
	}
	.snip1336 figcaption a {
	  padding: 5px;
	  border: 1px solid #ffffff;
	  color: #ffffff;
	  font-size: 0.7em;
	  text-transform: uppercase;
	  margin: 10px 0;
	  display: inline-block;
	  opacity: 0.65;
	  width: 47%;
	  text-align: center;
	  text-decoration: none;
	  font-weight: 600;
	  letter-spacing: 1px;
	}
	.snip1336 figcaption a:hover {
	  opacity: 1;
	}
	.snip1336 .profile {
	  border-radius: 50%;
	  position: absolute;
	  bottom: 100%;
	  left: 25px;
	  z-index: 1;
	  max-width: 90px;
	  opacity: 1;
	  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	}
	.snip1336 .follow {
	  margin-right: 4%;
	  border-color: #2980b9;
	  color: #2980b9;
	}
	.snip1336 h2 {
	  margin: 0 0 5px;
	  font-weight: 300;
	}
	.snip1336 h2 span {
	  display: block;
	  font-size: 0.5em;
	  color: #2980b9;
	}
	.snip1336 p {
	  margin: 0 0 10px;
	  font-size: 0.8em;
	  letter-spacing: 1px;
	  opacity: 0.8;
	}

	.hover14 figure {
		position: relative;
	}
	.hover14 figure::before {
		position: absolute;
		top: 0;
		left: -75%;
		z-index: 2;
		display: block;
		content: '';
		width: 50%;
		height: 100%;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		-webkit-transform: skewX(-25deg);
		transform: skewX(-25deg);
	}
	.hover14 figure:hover::before {
		-webkit-animation: shine .75s;
		animation: shine .75s;
	}
	@-webkit-keyframes shine {
		100% {
			left: 125%;
		}
	}
	@keyframes shine {
		100% {
			left: 125%;
		}
	}

/*partners*/
	#partners {
		padding-top: 100px;
	    /* margin: auto; */
	    padding-bottom: 100px;
	    padding-left: 40px;
	    background-color: #fff;
	}

	#partners .container h4 {
		color: #000;
	    text-transform: uppercase;
	}

	#partners .bank-pic {
		padding-top: 20px;
	}

	#partners .container h2 {
		color: #d8152c;
	    text-transform: uppercase;
	    margin-top: -20px;
	}

	#partners .point{
	  	    width: 19%;
    /* float: left; */
    /* margin: 2px; */
    padding: 20px;
    text-align: center;
    display: inline-block;
	}

	#partners img {
		width: 80%;
	}

/*footer*/
	footer {
		padding: 20px;
		padding-top: 20px;
		color: #fff;
		/*text-align: center;*/
		background-color: #35424A;
		min-height: 130px;
	}


	footer .logo {
		float: left;
		padding: 30px;
	    min-width: 20%;
	}

	footer .logo img{
		width: 100px;
	}

	.footer-content {
		float: left;
	    padding: 30px;
	    width: 30%;
	}

	footer a {
	    text-decoration: none;
	    color: #fff;
	}
	footer p > a:hover{
	    color: #d9d9d9;
	    text-decoration:  underline;
	}

	footer ._12 {
	    font-size: 1.2em;
	}
	footer ._14 {
	    font-size: 1.4em;
	}
	footer ul {
	    padding:0;
	    list-style: none;
	}
	footer .footer-social-icons {
	    width: 350px;
	    display:block;
	    margin: 0 auto;
	    margin-left: -13px;
	}
	footer .social-icon {
	    color: #fff;
	}
	footer ul.social-icons {
	    margin-top: 10px;
	}
	footer .social-icons li {
	    vertical-align: top;
	    display: inline;
	    height: 100px;
	}
	footer .social-icons a {
	    color: #fff;
	    text-decoration: none;
	}
	footer .fa-facebook-f {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-facebook-f:hover {
	    background-color: #3d5b99;
	}
	footer .fa-twitter {
	    padding:10px 12px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-twitter:hover {
	    background-color: #00aced;
	}
	footer .fa-rss {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-rss:hover {
	    background-color: #eb8231;
	}
	footer .fa-youtube {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-youtube:hover {
	    background-color: #e64a41;
	}
	footer .fa-linkedin-in {
	    padding:10px 14px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-linkedin-in:hover {
	    background-color: #0073a4;
	}
	footer .fa-google-plus-g {
	    padding:10px 9px;
	    -o-transition:.5s;
	    -ms-transition:.5s;
	    -moz-transition:.5s;
	    -webkit-transition:.5s;
	    transition: .5s;
	    background-color: #35424A;
	}
	footer .fa-google-plus-g:hover {
	    background-color: #e25714;
	}

	footer small {
		float: right;
	}

	footer .footer-content h3 {
	    color: #969da1;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    padding-bottom: 15px;
	}

	.footer-content span {
		color: #e25714;
		font-weight: bold;
		letter-spacing: 1.2px;
	}


/*responsive screens*/
	/*responsive screen - nav*/

	@media only screen and (max-width: 1170px) {

		header { padding: 20px 0px; }

		header .current a {
			color: #fff;
		    font-weight: bold;
		    background-color: #af1124;
		}

		header .current a:hover{
			color: #fff;
		    font-weight: bold;
		    background-color: #af1124;
		}

		header a:hover {
			color: #af1124;
			font-weight: bold;
			text-decoration: underline;
		}


		input[type=checkbox] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		  background: none;
		}

		input[type=checkbox]:fous {
		  background:none;
		}

		header label {
		  float: right;
		  padding: 8px 0px;
		  margin-top: 25px;
		  display: inline-block;
		  cursor: pointer;
		}

		input[type=checkbox]:checked ~ nav { 
			display: block;
			width: 30%;
		    right: 15%;
		    top: 60px;
		}

		nav {
		  display: none;
		  position: absolute;
		  right: 0px;
		  top: 53px;
		  background-color: #002e5b;
		  padding: 0px;
		  z-index: 99;
		}

		nav ul { width: auto; }

		nav ul li {
		  float: none;
		  padding: 0px;
		  width: 100%;
		  display: table;
		  box-shadow: 3px 3px 8px #35424a;
		}

		nav ul li a {
		  color: #FFF;
		  background-color: #35424A;
		  font-size: 15px;
		  padding: 10px 20px;
		  display: block;
		  border-bottom: 1px solid #536570;
		  /*width: 155px;*/
		}

		nav ul li a i {
		  color: #fde428;
		  padding-right: 13px;
		}

		nav ul li a .fa-search {
			color: #fff;
		}
	}

	@media(max-width: 482px) {
		nav ul li a {
		  width: 155px;
		}
	}

	/*responsive screen - accordian & tabs*/
	@media(max-width: 1150px) {
		.tabs {
			display: none;
		}

		.accordian-mobile {
			display: block;
		}

		#video .bttn-contact:hover {
		    color: #fff;
		    box-shadow: inset 0 0 0 2em var(--hover);
		    text-decoration: underline;
		    background-color: none;
		}

		#video .bttn-contact {
			padding: 20px;
		    border: 1px solid #c9c9c9;
		    background-color: #fff;
		    color: #000;
		    /* margin-left: 25px; */
		    font-size: 15px;
		    text-transform: uppercase;
		    letter-spacing: 1.3px;
		    font-weight: bold;
		    --color: #fff;
		     --hover: #fff; 
		    border-radius: 5px;
		}
	}


	@media(max-width: 990px) {
		header #branding, 
		header nav,
		header nav li {
			float: left;
			text-align: center;
			/*width: 100%;*/
		}

		header {
			padding-bottom: 20px;
		}

	}

	@media(max-width: 1200px) {
		#selling-point .point {
			width: 35%;
	    	float: left;
	    	margin: 2px;
	    	padding: 0px;
	    	text-align: center;
		}

		#selling-point {
			padding-bottom: 30px;
			height: 200px;
		}
	}

	@media(max-width: 780px) {
		#selling-point .point {
		    width: 100%;
		    /* left: 39px; */
		    float: none; 
		    margin: 2px;
		    padding: 0px;
		    text-align: center;
		    padding-bottom: 15px;
		}
		.point h4 {
		    float: none; 
		    margin-top: 0px;
		}

		#selling-point	 {
			padding-left: 0px;
			height: 600px;
			padding-top: 50px;
		}
	}

	@media(max-width: 600px) {
		.card-wrapper {
			padding-left: 20%;

		}
	}

	@media(max-width: 1380px) {
		#boxes .box {
			/*float: none;*/
			width: 30%;
			padding: 0px;
		}
	}


	@media(max-width: 960px) {
		#boxes .box {
			float: none;
			width: 100%;
			padding: 0px;
			margin-left: 0px;
		}

		#video iframe {
			float: none;
			width: 100%;

		}

		#testimonial {
			float: none;
			width: 100%;
			padding-top: 20px;
		}


/*
		#boxes .container {
			width: 90%;
			margin:auto;
		}*/


	}

	@media(max-width: 1170px) {
			.snip1336 {
				float: none;
				width: 100%;
				max-width: none;
				height: auto;
			}
			.card-wrapper {
				padding-left: 0px;
			}

			.snip1336 img {
			    /* max-width: 112%; */
			    width: 100%;
			    vertical-align: top;
			    opacity: 0.85;
			}
			#testimonial .container {
				width: 90%;
			}
	}

	@media(max-width: 1100px) {
		#newsletter .newsletter-text {
		    float: none;
		    width: 100%;
		    text-align: center;
		}
		#newsletter form {
		    float: none;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    width: 100%;
		    text-align: center;
		}

		#newsletter input[type="email"] {
		    padding: 4px;
		    height: 25px;
		    width: 70%;
		    display: inline;
		}

	}

	@media(max-width: 1280px) {
		#partners .point {
			width: 24%;
		}
	}

	@media(max-width: 1100px) {
		#partners .point {
			width: 32%;
		}
	}

	@media(max-width: 850px) {
		#partners .point {
			width: 45%;
		}
	}

	@media(max-width: 1130px) {
		footer .footer-content {
			width:50%;
			padding-left: 30px;
			padding-bottom: 0px;
		}

		footer .footer-social-icons {
			padding-bottom: 20px;
			margin-left: -13px;
		}
	}

	@media(max-width: 785px) {
		footer .footer-content {
			width: 100%;
		}

		footer .footer-social-icons {
			margin-left: -13px;
		}
	}






/*contact.html*/
	*,
	*:before,
	*:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	/*contact form enquiries*/
	.enq-form {
		float: left;
	    margin: 40px;
	    padding-top: 40px;
	    padding-bottom: 40px;
	    width: 45%;
	}

	#contact-form {
		padding-bottom: 20px;
	}

	#contact-form h1 {
	  text-align: left;
	  color: #000;
	  text-shadow: 1px 1px 0 white;
	}

	#contact-form form {
	  max-width: 600px;
	  text-align: center;
	  margin: 20px auto;
	}

	#contact-form form input, form textarea {
	  border: 0;
	  outline: 0;
	  padding: 1em;
	  -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	  border-radius: 8px;
	  display: block;
	  width: 100%;
	  margin-top: 1em;
	  font-family: 'Merriweather', sans-serif;
	  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	  resize: none;
	}
	#contact-form form input:focus, form textarea:focus {
	  -moz-box-shadow: 0 0px 2px #e74c3c !important;
	  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
	  box-shadow: 0 0px 2px #e74c3c !important;
	}
	#contact-form form #input-submit {
	  color: white;
	  background: #d8152c;
	  cursor: pointer;
	}
	#contact-form form #input-submit:hover {
	  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	}
	#contact-form form textarea {
	  height: 126px;
	}

	#contact-form .half {
	  float: left;
	  width: 48%;
	  margin-bottom: 1em;
	}

	#contact-form .right {
	  width: 50%;
	}

	#contact-form .left {
	  margin-right: 2%;
	}

	@media (max-width: 480px) {
	  .half {
	    width: 100%;
	    float: none;
	    margin-bottom: 0;
	  }
	}
	/* Clearfix */
	.cf:before,
	.cf:after {
	  content: " ";
	  /* 1 */
	  display: table;
	  /* 2 */
	}

	.cf:after {
	  clear: both;
	}

	/*google map*/
	#map {
		padding-top: 113px;
	}
	.map-contact {
		background-color: #fff;
		padding-bottom: 40px;
	}
	.map-contact iframe {
		width: 100%;
	   /* height: 100%;*/
	    padding-top: 40px;

	}

	/*contact info*/
	.contact-content {
		float: right;
	    /*margin: 40px;*/
	    padding-top: 90px;
	    width: 37%;
	}

	.contact-content h3 {
		color: #c64141;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}

	.contact-content p {
		font-size: 17px;
		letter-spacing: 1.2px;
	}

	.contact-content p span{
		font-weight: bold;
	}

	.contact-content h3 i {
		padding-right: 10px;
	}

	.space {
		height: 40px;
		width: 100%;
		background-color: #fff;
	}

	/*media responsiveness for contact.html*/
	@media(max-width: 1000px) {
		.enq-form {
			float: none;
		    margin: 40px;
		    padding-right: 50px;
		    padding-top: 40px;
		    padding-bottom: 0px;
		    width: 100%;
		}

		.contact-content {
			float: none;
		    padding-top: 0px;
		    width: 100%;
		    padding-bottom: 20px;
		    text-align: center;
		}

		.contact-content p {
			font-size: 15px;
			letter-spacing: 1px;
		}

		#contact-form h1 {
	    	text-align: center;
	    }
	}

	@media(max-width: 850px) {
		#contact-form .half {
			float: none;
			width: 100%;
		}

		#newsletter .btn-submit {
			margin-top: 10px;
		}
	}



/*calculator.html*/
#calculator {
	padding-bottom: 50px;
	padding-top: 100px;
}
#calculator .content  {
	/*height: 420px;*/
	padding-left: 30px;
}
#calculator .articlehead {
  font-size: 1.8em;
  font-weight: 100;
  margin-bottom: 0em;
  line-height: 1em;
}
#calculator table, tr, td {
	margin: auto;
  border: 0px;
  border-collapse: collapse;
  
}
#calculator .table {
  font-size: 0.9em;
  /*width: 100%;*/
}
#calculator .tlabel {
  text-align: right;
  padding-right: 70px;
  font-weight: bold;
}
#calculator .cal {
  font-size: 12pt;
  border: 1px solid #d6d8db;
  height: 30px;
  width: 70%;
  margin: 0.5em;
}

.dropdown {
	width: 70%;
     margin-left: -22%; 
    padding: 8px;
    /*text-align: none;*/
    border: 1px solid #d6d8db;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; 
}

.custom-dropdown select {
  	background-color: white;
    color: #000;
    font-size: inherit;
    padding: 0.5em;
    padding-right: 5.5em;
    margin: 0;
    border-radius: 1px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    margin-left: -67px;
    border: 1px solid #d6d8db;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { 
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { 
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}*/

#calculator .calbutton {
  background-color: #d8152c;
  border: none;
  color: white;
  width: 95%;
  /*height: 40px;*/
  margin: 1em 0em;
}
#calculator .calbutton:hover {
  background-color: dimgray;
  cursor: pointer;
}
#calculator li {
  padding: 0.2em;
}
#payment, #loan_p, #pension_p, #s_result {
  color: #d8152c;
  font-size: 2em;
  /*text-align: center;*/
  line-height: 1em;
  margin-bottom: 0px;

}
#payment {
  padding-bottom: 20px;
}
#calculator .term {
  /*text-align: center;*/
  color: #d8152c;
  font-weight: bold;
  margin-top: -10px;
  padding-bottom: 20px;
}
#calculator .cal_input {
  width: 80%;
  padding: 1em;
  margin: 0 auto;
  /*float: left;*/
  /*margin-right: 45px;*/
  text-align: center;
}
#calculator .cal_result {
  margin: 1em auto;
  width: 50%;
  /*background-color: #efefef;*/
  padding: 0.5em;
  /*float: right;*/
  text-align: center;
}
#calculator .table span {
  margin-left: 1.5em;
  line-height: 1.4em;
}
#calculator .t_detail {
  width: 95%;
  margin: 1em auto;
  font-size: 0.9em;
  text-align: right;
  font-family: 'Roboto';
  border-bottom: 1px solid darkgray;
}
#calculator .caption {
  font-size: 1.15em;
  font-weight: bold;
  padding-bottom: 0.7em;
}
#cal_detail td, #loan_d td , #s_detail td{
  padding: 0.2em;
}
#cal_detail th, #loan_d th, #s_detail th {
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  background-color: darkgray;
  padding: 0.2em;
  font-weight: 300;
}

#calculator table input {
	display: block;
}

#calculator #content2 .custom-dropdown select {
	margin-left: -71px;
    padding-right: 6.3em;
}

#calculator .cal_input .bttn-contact a {
	color: #fff;
	text-decoration: none;
}

#calculator .bttn-contact a {
	color: #000;
	text-decoration: none;
}


/*calc tabs*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

.tab_container input, .tab_container section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container section h2, 
.tab_container section .tlabel,
.tab_container section h4 {
	color: #000;
}

.tab_container label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 50%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

.tab_container #tab1:checked ~ #content1,
.tab_container #tab2:checked ~ #content2,
.tab_container #tab3:checked ~ #content3,
.tab_container #tab4:checked ~ #content4,
.tab_container #tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  /*color: #999;*/
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #d8152c;
}

.tab_container [id^="tab"]:checked + label .fa,
.tab_container [id^="tab"]:checked + label .fas  {
  color: #d8152c;
}

.tab_container label .fas,
.tab_container label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
/*@media only screen and (max-width: 900px) {
  .tab_container label span {
    display: none;
  }
  
  .tab_container {
    width: 98%;
  }
}*/

/*Content Animation*/
/*@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}*/

@media(max-width: 1036px) {
	.tab_container label {
		height: 100px;
	}
}

@media(max-width: 826px) {
	.tab_container label {
		height: auto;
	}
	.tab_container label span {
    	display: none;
  	}
  
  	.tab_container {
    	width: 98%;
  	}

  	.tab_container #tab1:checked ~ #content1,
	.tab_container #tab2:checked ~ #content2,
	.tab_container #tab3:checked ~ #content3,
	.tab_container #tab4:checked ~ #content4,
	.tab_container #tab5:checked ~ #content5 {
	  padding: 0px;
	}
  	#calculator .tlabel {
  		padding-right: 30px;
  	}

  	#calculator .cal, .dropdown {
  		width: 80%;
  	}

  	#calculator .cal_input {
  		width: 100%;
  	}

  	.dropdown {
  		margin-left: -11%;
  	}
}

@media(max-width: 680px) {
	#calculator .tlabel {
		padding: 5px;
	}
	#calculator .cal_result {
		width: 100%;
	}

	#calculator .table {
		width: 0;
	}
}